# Ignore node_modules (dependencies will be installed in the Docker build)
node_modules/

# Ignore backend directory
src/

# Ignore version control files
.git
.gitignore

# Ignore environment variables
.env

# Ignore build output
build/
dist/

# Ignore IDE/project-specific files
.vscode/
.idea/
*.swp

# Ignore logs
*.log
