# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# macOS-specific files
.DS_Store

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Gradle files
.gradle/
build/

# Ignore Gradle wrapper jar file (.jar files are usually ignored, but update accordingly if needed)
!gradle-wrapper.jar

# Ignore Gradle wrapper properties file
!gradle-wrapper.properties

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*out/

# Gradle specific ignore rules
.gradle/7.5.1/fileHashes/
.gradle/7.5.1/executionHistory/
.gradle/7.5.1/fileContent/
.gradle/buildOutputCleanup/

# Node.js modules (if using Node.js in the project)
node_modules/

# Other files and folders to ignore
bin/
# target/
# Add here any other directories or files you don't want to commit

